.photos {

    display: flex;
    justify-content: center;
    margin: 50px;

    &__grid {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        height: 470px;
        width: 470px;
    }

    &__focus {
        height: 470px;
        width: 470px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        gap: 20px;
        margin: 20px;

        &__img {
            height: 250px;
        }

        &__description {
            text-align: center;
        }
    }
}