//assets/styles/abstract/mixins
@use 'sass:map';
@use 'variables' as *;

@mixin respond($size) {

    // Check if breakpoint exists
    @if map.has-key($breakpoints, $size) {
        $value: map.get($breakpoints, $size);

        @if $value ==0 {
            @content; // Mobile first -> no media query needed for xs size (default style)
        }

        @else {
            @media (min-width: $value) {
                @content;
            }
        }
    }

    @else {
        @error "Breakpoint invalide `#{$size}`. Choix possibles: #{map-keys($breakpoints)}.";
        //error if the given key doesn't exist
    }
}

//Breakpoints for screen sizes for responsive
$breakpoints: (
    // phones
    xs: 0,
    // small tablets / large phones
    sm: 576px,
    // tablets
    md: 768px,
    // small laptops
    lg: 992px,
    // desktops
    xl: 1200px,
    // large screens
    xxl: 1400px
);

//Example how to use
// .element {
//   padding: 10px; //default applied to xs

//   @include respond(md) { 
//     padding: 20px;
//   }

//   @include respond(lg) {
//     padding: 40px;
//   }
// }