//Colors
$primary-color : #65162B;
$secondary-color : #FDEC92;
$page-color : #164f65;
$category-color : #2e1665;

$bg-color : #fff8d6;

//Font
$main-font : "Kodchasan",
sans-serif;

//Font sizes
$xs-fontsize : 0.875rem;
$sm-fontsize : 1rem;
$md-fontsize : 1.125rem;
$lg-fontsize : 1.25rem;
$xl-fontsize : 1.75rem;
$xxl-fontsize : 3rem;