@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

$space-from-edge : 30px;

.shopMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    gap: 20px;

    padding-bottom: $space-from-edge;

    &__page {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;

        //page title
        &__title {}

        //page description
        &__description {}


        &__category {

            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 30px;

            padding-bottom: $space-from-edge;
            margin: 0 $space-from-edge;

            @include respond(md) {}

            // category title
            &__title {
                color: $primary-color;
                font-size: $lg-fontsize;
                border-bottom: 2px solid $primary-color;

                padding: 0 $space-from-edge;

            }

            // category description
            &__description {

                font-size: $sm-fontsize;
                padding-left: $space-from-edge;

            }

            &__product {

                display: flex;
                flex-direction: column;
                align-items: center;

                gap: 5px;

                padding-left: $space-from-edge;

                @include respond(md) {
                    width: 100%;
                    max-width: 750px;
                    align-items: flex-start;

                }

                //product title
                &__title {

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: $sm-fontsize;

                    @include respond(md) {
                        width: 100%;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;

                    }

                    &__text {
                        display: flex;
                        align-items: center;

                        @include respond(md) {
                            flex-direction: row;

                        }

                        i {
                            align-self: center;

                            @include respond(lg) {
                                display: none;
                            }
                        }
                    }

                    &__offer {

                        display: flex;
                        flex-direction: column;

                        @include respond(md) {

                            flex-direction: row;
                            align-self: flex-end;
                        }

                        &__element {}
                    }


                }

                //product description
                &__description {
                    font-size: $xs-fontsize;

                }



                &__photo {

                    display: none;
                    height: 150px;
                    width: 150px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;

                    @include respond(lg) {
                        display: inherit;

                    }
                }
            }
        }

        &.hidden {
            display: none;
        }
    }

    &__focus {

        position: fixed;
        top: 100px;
        z-index: 80;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        gap: 20px;
        margin: 20px;
        padding: 20px;

        border-radius: 10px;
        border: 5px solid white;
        background-color: $bg-color;

        &__img {
            height: 175px;
            width: 175px;
            border-radius: 5px;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }

        &__title {
            font-size: $md-fontsize;

            font-style: italic;
        }

        &__description {
            text-align: center;
            margin: 0 10px;

        }

        &__closeBttn {
            position: absolute;
            height: 20px;
            width: 20px;
            color: $primary-color;
            top: 10px;
            right: 10px;

        }

        &.hidden {
            display: none;
        }
    }

    &__filterBar {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
        gap: 10px;

        &__bttns {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            &__item {
                border-style: none;
                border-radius: 2px;
                background-color: $primary-color;
                color: $secondary-color;
                padding: 5px 15px;

                font-size: $md-fontsize;

                &:hover {
                    background-color: darken($primary-color, 5%);
                }

                &.selected {

                    background-color: $secondary-color;
                    color: $primary-color;
                }
            }
        }

        &__all {
            border-style: none;
            border-radius: 2px;

            background-color: $primary-color;
            color: $secondary-color;
            padding: 5px 15px;

            font-size: $md-fontsize;

            &:hover {
                background-color: darken($primary-color, 5%);
            }

            &.selected {

                background-color: $secondary-color;
                color: $primary-color;
            }
        }
    }

}